<div [@fadeInOut]>
    <div class="main-container-padding">
        <div class="row first-row" style="width:100%">
            <div class="padding-10px width50-per border-navy">
                <div class="row panel-header">
                    <div class="col-md-10 white-text upperCase-text">Task / Request Outstanding</div>
                    <div class="col-md-2">
                        <a class="float-right"><img src="./assets/images/icons/ic_zoom_out.png" /></a>
                    </div>
                </div>
                <div class="row panel-body">


                    <div class="tableContainer">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Status</th>
                                    <th>Days to Voilation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Giacomo Fiore</td>
                                    <td>Quaterly Attestation</td>
                                    <td>open</td>
                                    <td>-4</td>
                                </tr>
                                <tr>
                                    <td>Marc Simon</td>
                                    <td>Outside Business</td>
                                    <td>Supplemental</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Tom Watson</td>
                                    <td>Political Contribution</td>
                                    <td>Initial</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Jim McLean(spouse)</td>
                                    <td>Entertainment Review</td>
                                    <td>Recepits</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Valerie Warner</td>
                                    <td>New Employee Review</td>
                                    <td>Pending</td>
                                    <td>14</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="createButton">
                            <button>Create New Request</button>
                        </div>
                    </div>


                </div>
                <div class="row panel-footer">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <a class="float-right forwardAnchr">Full List...</a>
                    </div>
                </div>
            </div>
            <div class="padding-10px width50-per border-navy">
                <div class="row panel-header">
                    <div class="col-md-10 white-text upperCase-text">Task / Request Outstanding</div>
                    <div class="col-md-2">
                        <a class="float-right"><img src="./assets/images/icons/ic_zoom_out.png" /></a>
                    </div>
                </div>
                <div class="row panel-body">
                    <div class="tableContainer">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Status</th>
                                    <th>Days to Voilation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Giacomo Fiore</td>
                                    <td>Quaterly Attestation</td>
                                    <td>open</td>
                                    <td>-4</td>
                                </tr>
                                <tr>
                                    <td>Marc Simon</td>
                                    <td>Outside Business</td>
                                    <td>Supplemental</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Tom Watson</td>
                                    <td>Political Contribution</td>
                                    <td>Initial</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Jim McLean(spouse)</td>
                                    <td>Entertainment Review</td>
                                    <td>Recepits</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Valerie Warner</td>
                                    <td>New Employee Review</td>
                                    <td>Pending</td>
                                    <td>14</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="createButton">
                            <button>Create New Request</button>
                        </div>
                    </div>
                </div>
                <div class="row panel-footer">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <a class="float-right forwardAnchr">Full List...</a>
                    </div>
                </div>
            </div>
            <div class="padding-10px width50-per border-navy">
                <div class="row panel-header">
                    <div class="col-md-10 white-text upperCase-text">Task / Request Outstanding</div>
                    <div class="col-md-2">
                        <a class="float-right"><img src="./assets/images/icons/ic_zoom_out.png" /></a>
                    </div>
                </div>
                <div class="row panel-body">
                    <div class="tableContainer">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Status</th>
                                    <th>Days to Voilation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Giacomo Fiore</td>
                                    <td>Quaterly Attestation</td>
                                    <td>open</td>
                                    <td>-4</td>
                                </tr>
                                <tr>
                                    <td>Marc Simon</td>
                                    <td>Outside Business</td>
                                    <td>Supplemental</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Tom Watson</td>
                                    <td>Political Contribution</td>
                                    <td>Initial</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Jim McLean(spouse)</td>
                                    <td>Entertainment Review</td>
                                    <td>Recepits</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Valerie Warner</td>
                                    <td>New Employee Review</td>
                                    <td>Pending</td>
                                    <td>14</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="createButton">
                            <button>Create New Request</button>
                        </div>
                    </div>
                </div>
                <div class="row panel-footer">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <a class="float-right forwardAnchr">Full List...</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
